<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(book.price) %>
  </p>

  <p>
    <strong>Published Date:</strong>
    <%= book.published_date&.strftime("%B %d, %Y") %>
  </p>
</div>
