<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <div>
      <p><%= book.title %></p>
      <%= link_to "Show", book %>
      <%= link_to "Edit", edit_book_path(book) %>
      <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
