<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <p><strong>Title:</strong> <%= @book.title %></p>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@book.price) %></p>
  <p><strong>Published Date:</strong> <%= @book.published_date %></p>

  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>
</div>
